/* Universal declaration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body{
  background-color: #f1f5f8;
}

/* nav container */
.nav_container {
  background-color: #f1f5f8;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 15px;
}
.logo h1 {
  font-family: "Dancing Script", cursive;
}
/* .nav_links ul {
  margin-right: 30px;
  display: flex;
}
.nav_links ul li {
  list-style-type: none;
  margin: 0 20px;
  text-transform: uppercase;
  line-height: 80px;
}
.nav_links ul li a {
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 4px;
  color: black;
  font-family: "Montserrat", sans-serif;
} */
a.active,
a:hover {
  background-color: #c59d5f;
}
nav{
  height: 80px;
  background-color: #c59d5f;
  position: fixed;
  width: 100%;
  margin-bottom: 80px;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a:hover{
  background-color: #f1f5f8;
}
nav ul li a{
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-family: montserrat;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}
nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
}
label #btn,#remove{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/* Hero section */
.hero_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero_container{
  background-image: url('./images/Img1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
  height: 85vh;
  text-align: center;
}
.hero_container::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
 h3{
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.hero_container p{
  font-family: "Montserrat", sans-serif;
  color: #c59d5f;
  margin-top: 50px;
  margin-bottom: 8vh;
  color: #c59d5f;
  font-size: 18px;
}
.hero_container .photo{
  font-family: 'Playball', cursive;
  font-size: 55px;
  color: #c59d5f;
  font-weight: bold;
}
.hero_container h3{
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}
.hero_container .photo span{
  color: white;
}
.hero_container button{
  background-color: transparent;
  height: 55px;
  width: 150px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #c59d5f;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 2px 4px solid white;
}
.hero_container button:hover{
  background-color: #c59d5f;
  color: black;
  outline: 0;
  border: none;
  transition: 1s;
}
.about_title{
  text-align: center;
  margin-top: 20px;
  color: #c59d5f;
}
.underline{
  border-bottom: 3px solid black;
  width: 90px;
  margin: auto;
  margin-top: 10px;
}
.r{
  color: black;
}
/* About page */
.about_container{
  width: 90%;
  margin: auto;
  height: 100vh;
  margin-top: 20px;
  background-color: #f1f5f8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about_pic img{
  margin: 10px;
  height: 600px;
  width: 500px;
}
.about_info{
  text-align: center;
}
.about_info h1{
  margin-bottom: 45px;
  color: #c59d5f;
  font-family: 'Playball', cursive;
  font-size: 40px;
  line-height: 60px;
}
.about_info p{
  margin-bottom: 35px;
  line-height: 35px;
  font-family: 'Times New Roman', Times, serif;
}
.about_info button{
  margin-top: 30px;
  font-weight: bold;
  font-family: montserrat;
  height: 55px;
  width: 140px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 2px solid #c59d5f;
  border-color: #c59d5f;
  outline: 0;
}
.about_info button:hover{
  background-color: #c59d5f;
  transition: 1s;
}
/* footer */
.footer{
  background-color: #c59d5f;
  color: black;
  text-align: center;
  height: 10vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer .name a{
  color: white;
  cursor: pointer;
  text-decoration: none;
}
/* portfolio */
.portfolio_title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #c59d5f;
}
.portfolio_container{
  width: 100%;
  align-items: center;
  justify-content: center;
  /* margin-left: 70px; */
  display: flex;
  flex-wrap: wrap;
}
.team_container div{
  height: 340px;
  background-color: #c59d5f;
  text-align: center;
  border-radius: 5px;
}
.portfolio_container img{
  width: 300px;
  height: 250px;
}
/* Team section */
.team_title1{
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  color: #c59d5f;
  font-size: 15px;
}
.team_container{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.team_container img{
  width: 300px;
  height: 250px;
}
/* contact section */
.contact_title{
  color: #c59d5f;
  text-align: center;
  margin-top: 30px;
}
.contact_container{
  width: 90%;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.contact_img img{
  margin-top: 50px;
  width: 550px;
  margin: 20px;
}
.contacts h1{
  text-align: center;
  margin-bottom: 50px;
}
.contacts p{
  margin-bottom: 50px;
  margin-left: 30px;
}
.contacts{
  margin-top: 30px;
}
.contacts input{
  margin-bottom: 20px;
  display: block;
  margin: 30px;
  width: 450px;
  height: 50px;
  border: 1px solid #c59d5f;
  outline: 0;
}
.contacts textarea{
  border: 1px solid #c59d5f;
  outline: 0;
  margin: 30px;
  width: 450px;
}
.contacts button{
  display: block;
  margin: 30px;
  height: 45px;
  width: 100px;
  border: 1px solid #c59d5f;
  text-transform: uppercase;
  font-family: montserrat;
  background-color: #c59d5f;
}
.contacts button:hover{
  background-color: #f1f5f8;
  transition: 1s;
  cursor: pointer;
}
.gps{
  width: 90%;
  margin: auto;
}
/* Navigation menu media query */
@media (max-width: 900px){
  .logo h1{
    font-size: 30px;
  }
}
@media (max-width: 860px) {
  .hero_container{
    z-index: -1;
  }
  .hero_container::after{
    z-index: 1;
  }
  nav{
    background-color: #f1f5f8;
  }
  label #btn, #remove{
      display: block;
      color:  #c59d5f;
      float: right;
      font-size: 30px;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 50vh;
      background: #c59d5f;
      top: 80px;
      left: -100%;
      transition: all .5s;
      text-align: center;
      z-index: -3;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-family: montserrat;
  }
  nav ul li a:hover{
    background-color: #f1f5f8;
    width: 100%;
  }
  nav ul li{
      display: block;
      line-height: 20px;
      margin: 30px 0;
  }
  #remove{
    display: none;
  }
  #check:checked ~ ul{
      left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #remove{
    display: block;
  }
}
@media (max-width: 768px){
  .contacts input{
    width: 400px;
  }
  .contacts textarea{
    width: 400px;
  }
  .contact_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact_img img{
    width: 400px;
    height: 450px;
  }
  .about_pic img{
    width: 450px;
  }
  .about_container{
    width: 400px;
    margin-top: 250px;
    margin-bottom: 250px;
    flex-direction: column;
  }
  .about_pic img{
    height: 450px;
  }
  .about_info p{
    line-height: 20px;
  }
  .check_btn{
    display: block;
  }
  .portfolio_container{
    text-align: center;
    width: 100%;
  }
  .portfolio_container img{
    width: 205px;
    height: 200px;
  }
  .team_container{
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .team_container div{
    margin-top: 10px;
    height: 300px;
  }
  .team_container img{
    width: 205px;
    height: 200px;
  }
}



