/* Universal declaration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav container */
.nav_container {
  background-color: #f1f5f8;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-left: 15px;
}
.logo h1 {
  font-family: "Dancing Script", cursive;
}
.nav_links ul {
  margin-right: 30px;
  display: flex;
}
.nav_links ul li {
  list-style-type: none;
  margin: 0 20px;
  text-transform: uppercase;
  line-height: 80px;
}
.nav_links ul li a {
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 4px;
  color: black;
  font-family: "Montserrat", sans-serif;
}
a.active,
a:hover {
  background-color: #c59d5f;
}
.check_btn{
  font-size: 30px;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/* Navigation menu media query */
@media (max-width: 900px){
  .logo h1{
    font-size: 30px;
  }
  .nav_links ul li a{
    font-size: 13px;
  }
}
@media (max-width: 768px){
  .check_btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #f1f5f8;
    top: 80px;
    left: -100%;
    text-align: center;
    flex-direction: column;
    transition: all .5s;
  }
  .nav_container{
    background-color: #c59d5f;
    color: black;
  }
  ul li{
    width: 100%;
  }
  ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
